.main-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.main-content {
  display: flex;
  flex: 1;
  align-items: flex-start;
  justify-content: center;
  padding-bottom: 1em;
}

.center-content {
  align-self: center;
}

.main-footer {
  color: #767676;
  text-align: center;
  padding: 1rem;
}

.no-cap {
  text-transform: none;
}

.cap {
  text-transform: capitalize;
}

.separate-line {
  border-top: 1px solid #eee;
}

@media screen and (max-width: 380px) {
  .hide-on-mobile {
    display: none;
  }
}

.login-box {
  flex: 1;
  max-width: 320px;
  margin: 5px auto 5px auto;
}

.radio-field {
  padding-top: 10px;
  padding-left: 10px;
}

.radio-field .ui.radio.checkbox label:before, .ui.radio.checkbox label:after {
  top: 15px;
}

.upload-drop-zone {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
  font-size: 1.2em;
  color: grey;
  background-color: #eee;
  border: 2px dashed;
  min-height: 100px;
  height: 100%;
  width: 100%;
}

.upload-drop-zone:hover {
  background-color: #dfeaff;
}

.upload-drop-zone-active {
  color: black;
  background-color: #deffdb;
  border: 2px dashed;
}

.upload-from-link {
  text-align: center;
  padding: 6px;
}

.upload-from-link * {
  padding-left: 6px;
}

.upload-from-link input[type=text] {
  width: 250px;
}

.image-box {
  border: 1px solid #eaeaea;
  background-color: ghostwhite;
  margin: auto;
  text-align: center;
  max-width: 250px;
  overflow: hidden;
}

.image-box .upload-button {
  display: block;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  line-height: 30px;
  left: 0;
  right: 0;
  transition: background .15s ease;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  cursor: pointer;
  user-select: none;
}

.image-box .upload-button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.imdb-preview {
  line-height: 1.8em;
}

.editor {
  height: 12em;
  min-height: 8em;
  max-height: 24em;
  overflow-y: auto;
}

.rc-trigger-popup {
  position: absolute;
   left: -9999px;
   top: -9999px;
   z-index: 1050;
}

.rc-trigger-popup-hidden {
  display: none;
}

.editor-title {
  display: flex;
  align-items: center;
  margin: 5px;
  font-size: medium;
}

.editor-title input {
  flex: 1;
  margin: 0 5px;
  padding: 2px;
  line-height: 1.8em !important;
}

.post-preview {
  margin: auto !important;
  width: 350px !important;
}
