.main-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.main-content {
  flex: 1 0 auto;
  padding-bottom: 1em;
}

.main-footer {
  color: #767676;
  text-align: center;
  padding: 1rem;
}

.no-cap {
  text-transform: none;
}

.cap {
  text-transform: capitalize;
}

.separate-line {
  border-top: 1px solid #eee;
}

@media screen and (max-width: 380px) {
  .hide-on-mobile {
    display: none;
  }
}

.login-box {
  max-width: 320px;
  margin: 5px auto 5px auto;
}

.v-align {
  display: flex;
  align-items: center;
  justify-content: center;
}
